@page "/process"
@using Microsoft.AspNetCore.Components.Server.Circuits
@inject UploadedFilesState UploadedFileState
@inject AudioAnalyzerService AudioAnalyzerService
@inject IJSRuntime JS
@inject CircuitHandler CircuitHandlerService

<h3 class="h3 text-start">Upload Files</h3>
<FileUpload />
<FileProcess OnClearCallback="@ClearUploads" />

@code {
    public void ClearUploads()
    {
        foreach (var upload in UploadedFileState.UploadedFiles)
        {
            File.Delete(upload.FileName);
        }
        AudioAnalyzerService.ClearSongs();
        UploadedFileState.UploadedFiles.Clear();
    }
}